@import '../../globalStyles/_shared.scss';

.profile {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 74px 30px;

  @media (max-width: $big-tablet-width) {
    padding: 236px 30px;
  }

  @media (max-width: $small-tablet-width) {
    align-items: center;
    padding: 70px 30px 40px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.208;
    margin: 0 0 123px;

    @media (max-width: $big-tablet-width) {
      margin: 0px 0 96px;
    }

    @media (max-width: $small-tablet-width) {
      margin: 0px auto 80px;
    }
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 410px;
    gap: 8px;
    width: 100%;

    & .input__container:not(:last-of-type) {
      margin-bottom: 10px;
      border-bottom: 1px solid #e8e8e8;
    }

    & .input__title {
      top: 3px;
      font-size: 11px;
      font-weight: 500;
      color: black;
      margin-bottom: 18px;
    }
  }

  &__button {
    width: max-content;
    padding: 0;
    border: 0;
    background: transparent;
    @include default-link;

    &:hover {
      @include default-link-effect;
    }

    @media (max-width: $small-tablet-width) {
      font-size: 12px;
      line-height: 15px;
    }

    &-submit {
      margin: 195px 0 0 0;
      font-size: 13px;
      line-height: 1.23;
      color: black;

      @media (max-width: $small-tablet-width) {
        margin: 358px 0 0 0;
      }
    }

    &-exit {
      margin-top: 10px;
      color: #ee3465;
    }
  }
}
