@import '../../../../globalStyles/_shared.scss';

.button-card-delete {
  background: {
    image: url(../../../../images/delete-icon-quiet.svg);
    repeat: no-repeat;
    position: center;
  }
  width: 10px;
  height: 10px;
  opacity: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  @media (max-width: $mobile-width) {
    opacity: 1;
  }

  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}

