@import '../../../globalStyles/shared';

.portfolio {
  &__container {
    @include default-container;
    padding: 0 70px;

    @media (max-width: $big-tablet-width) {
      padding: 0 50px;
    }

    @media (max-width: $mobile-width) {
      padding: 0 14px;
    }
  }

  &__title {
    color: #a0a0a0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 51px;

    @media (max-width: $small-tablet-width) {
      font-size: 14px;
      line-height: 20px;
      mix-blend-mode: normal;
      margin: 0 0 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 19px;
    line-height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: -0.04em;

    @media (max-width: $big-tablet-width) {
      font-size: 28px;
    }

    @media (max-width: $mobile-width) {
      line-height: 1.785;
      gap: 22px;
    }

    @media (max-width: $small-tablet-width) {
      font-size: 17px;
      line-height: 1.555;
      letter-spacing: 0em;
    }
  }

  &__item:last-child {
    padding-bottom: 105px;

    @media (max-width: $big-tablet-width) {
      padding-bottom: 90px;
    }

    @media (max-width: $small-tablet-width) {
      padding-bottom: 70px;
    }
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
  }

  &__link {
    box-sizing: border-box;
    display: block;
    padding: 0 30px 19px 0;
    position: relative;
    width: 100%;
    @include default-link;

    &:hover {
      @include default-link-effect;
    }
  }

  &__link-pic {
    position: absolute;
    top: 20px;
    right: 3px;

    @media (max-width: $small-tablet-width) {
      right: 6px;
      top: 2px;
      width: 10px;
    }
  }
}
